:root{
    --motyw01_glowny: #16B155;
    --motyw01_dodatkowy: #139646;
    --mute-color: rgba(0, 0, 0, 0.4);
}
html,body{
    font-family: Poppins;
    color:white;
    font-size: 18px;
}
p{
    margin-bottom: 0!important;
}
.icon{
    font-size: 28px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h3 {
    font-size: 26px;
    display: inline-block;
    margin: 0px;
}
h6, .h6{
    color:#000;
}

/*blocks*/
.boxinbox-titlebar {
    border-radius: 20px 20px 0px 0px;
    background-color: var(--motyw01_glowny);
    padding: 10px 20px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.boxinbox {
    border-radius: 0px 0px 20px 20px;
    /*background-color: #f0f1f1;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.listing-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffffff;
    flex-wrap: wrap;
}
.listing-element {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px 20px;
    border-radius: 0px 0px 0px 0px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    flex-wrap: wrap;
}
.listing-element.container{
    max-width: none;
}
.iconbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: var(--motyw01_dodatkowy);
    padding: 12px;
    font-size: 23px;
    border-radius: 10px;
}






#header {
    width: 100%;
    max-width: 100%;
    background-color: var(--motyw01_glowny);
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 50;
}

#header-lewy-dane{
    padding-left: 15px;
}

#header-prawy__desktop{
    display:flex;
}
#header-prawy__mobile{
    display:none;
    gap:20px;
}
.navbar-mobile{
    display: none;
    background-color: var(--mute-color);
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
}
.navbar-mobile__body{
    background-color: var(--motyw01_glowny);
    padding-top: 15px;
    width: 80vw;
    height: 100vh;
}
.navbar-mobile__block{
    padding: 0 25px;
}
.navbar-mobile__content{
    flex: 1 0 auto;
}
.navbar-mobile__footer{
    background: var(--motyw01_dodatkowy);
    padding: 15px 25px;
}


.sitecontent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 150px;
}

.whitebox-listing {
    display: flex;
    width: 100%;
    margin-left: -0.5%;
    margin-right: -0.5%;
    align-items: flex-start;
    justify-content: center;
    min-height: 100px;
    gap:10px;
}

.colorbox33 {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: var(--motyw01_glowny);
    color: white;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 200px;
}
.whiteboxiconbox {
    padding: 10px;
    width: 65px;
    height: 65px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 8px;
}


#navbar{
    /*display: flex;*/
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    align-items: center;
    /*justify-content: flex-start;*/
    background-color: var(--motyw01_dodatkowy);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    z-index: 49;
    margin-top: 100px;
}

@media(min-width: 992px){
    .listing-element.container{
        max-width: none;
    }
}
@media(max-width: 992px){
    .sitecontent{
        margin-top:100px;
    }
    #header-prawy__desktop{
        display:none;
    }
    #header-prawy__mobile{
        display:flex;
    }
    #navbar{
        display: none!important;
    }

    /*blocks*/
    .block1_nowosci_w_beautycheck .listing-element__width15{
        margin-right: 60px;
    }
}
@media(max-width: 868px)
{
    .block1_twoje_ostatnie_5_zabiegow .listing-titlebar{
        flex-direction: column;
    }
    .block1_twoje_ostatnie_5_zabiegow .listing-titlebar div{
        width: 100% !important;
    }
}
@media(max-width: 798px)
{
    .block1_nowosci_w_beautycheck .listing-element__width15{
        margin-right: 0px;
    }
    .block1_nowosci_w_beautycheck .listing-element__width75{
        width: 100%!important;
    }
    .block1_nowosci_w_beautycheck .listing-element__width15{
        width: 100%!important;
    }
    .block1_nowosci_w_beautycheck .listing-element__width10{
        width: 100%!important;
    }
}

@media(min-width: 768px){
    .listing-element.container{
        max-width: none;
    }
}
@media(max-width: 768px){
    .head-links{
        flex-direction: column;
        align-items: center;
    }
    .head-links .colorbox33{
        width: 300px;
    }
}

@media(min-width: 576px){
    .listing-element.container{
        max-width: none;
    }
}
@media(max-width: 576px){
    #header{
        height: 80px;
    }
    #header-prawy__mobile i{
        font-size: 22px;
    }
    #header-lewy img{
        width: 44px!important;
        height: 44px!important;
    }
    #header-lewy-dane p:first-child{
        font-size: 14px!important;
    }
    #header-lewy-dane p:last-child{
        font-size: 22px!important;
    }
}
